/* base styles */
* {
  margin: 0;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar h1 {
  font-size: 24px;
  color: #800000;
  margin-left: 6px;
  margin-top: 6px;
}

.navbar h2 {
  font-size: 12px;
  margin-left: 1px;
  color: darkslategrey;
}

.navbar .links {
  margin-left: auto;
  display: flex;
  padding: .75rem;
  border-radius: .25rem;
}

.navbar a {
  color: darkslategrey;
  margin-left: 16px;
  text-decoration: none;
  padding: .75rem;
  border-radius: .25rem;
}

.navbar a:hover, .dropdown-select:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  color: gold;
  background-color: #800000;
}

.content {
  overflow: hidden;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 100%;
  height: auto;
}

.topPage {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: auto;
  position: relative;
}

#slider {
  overflow: hidden;
  width: 100%;
  height: auto;
  display: block;
}

#slider figure {
  display: flex;
  position: relative;
  max-width: 700px;
  width: 100%;
  height: auto;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

#slider figure img {
  max-width: 700px;
  width: 100%;
  height: auto;
  float: left;
}

@keyframes slider {
  0% {
    left: 0%;
  }
  30% {
    left: 0%;
  }
  36% {
    left: -100%;
  }
  63% {
    left: -100%;
  }
  69% {
    left: -200%;
  }
  97% {
    left: -200%;
  }
}

.slider_overlay {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  height: 40%;
  color: #800000;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .6);
}

.slider_title {
  -webkit-text-stroke: 2px gold;
  font-size: 4em;
  font-weight: bold;
}

.slider_description {
  -webkit-text-stroke: 0.5px gold;
  font-size: 1em;
  font-weight: bold;
}
.dropdown {
  position: relative;
  top: .75rem;
}

.dropdown-menu {
  position: absolute;
  left: 10%;
  top: 74%;
  background-color: white;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  z-index: 1;
}

.dropdown > a:hover + .dropdown-menu, .dropdown-menu:hover {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-select {
  display: flex;
  position: relative;
  left: -7.5%;
}

.brotherhood, .professionalism, .service {
  margin-top: 2vw;
  position: relative;
  width: 90vw;
  margin-bottom: 2vw;
  margin-right: auto;
  margin-left: auto;
}

.brotherhood_image, .professionalism_image, .service_image {
  position: relative;
  width: 100%;
}

.brotherhood_overlay, .professionalism_overlay, .service_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*
  opacity: 0;
  transition: opacity 0.25s;
  */
}

.brotherhood h1, .professionalism h1, .service h1 {
  opacity: 0;
  position: absolute;
}

.brotherhood_description, .professionalism_description, .service_description {
  opacity: 0;
  position: absolute;
}

.brotherhood_overlay--blur, .professionalism_overlay--blur, .service_overlay--blur {
  backdrop-filter: blur(5px);
}

.brotherhood_title, .professionalism_title, .service_title {
  font-size: 2em;
  font-weight: bold;
}

.Companies_Section {
  background-color: #ECECEC;
  padding: 4vw;
}

.Regular {
  width: auto;
  height: 70px;
  padding-top: 4vw;
  padding-bottom: 1vw;
  padding-left: 2vw;
}

.Wide_Logo {
  width: auto;
  height: 70px;
  padding-top: 2vw;
  padding-bottom: 1vw;
}

.Sections {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.Section1 {
  padding-right: 5vw;
}

.Section1_Title {
  display: flex;
}

.Sections .Section1 .Section1_Title img {
  height: 30px;
  width: auto;
  padding-right: 5px;
}

.Section1_Title h1 {
  font-size: 30px;
  color: white;
}

.Section1 h2 {
  font-size: 15px;
  margin-left: 22.5px;
  color: #ECECEC;
}

.Section2 {
  padding: 30px;
  padding-left: 5vw;
}

.Section2 h2 {
  font-size: 12px;
  padding-top: 5px;
  color: #ECECEC;
}

.Section2 h2:hover {
  color: gold;
}

.Section2 a {
  text-decoration: none;
}

.Rush_Vid {
  position: relative;
  padding-top: 3vw;
  padding-left: 3vw;
  display: absolute;
  width: 338px;
  height: auto;
  padding-bottom: 3vw;
}

.Rush_Poster {
  position: relative;
  padding-top: 3vw;
  display: absolute;
  width: 450px;
  height: auto;
  padding-bottom: 3vw;
}

.Rush_Overlay {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  height: 40%;
  color: #800000;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .6);
}

.Rush_TopPage, .Brothers_TopPage {
  position: relative;
  background-color: #ECECEC;
}

.Brothers_TopPage h1, .Rush_TopPage h1, .Alumni_TopPage h1 {
  font-size: 75px;
  color:#800000;
}

.FiveGroup {
  display: flex;
  font-size: 12px;
  position: block;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Profile {
  width: 250px;
  padding-bottom: 2vw;
  transition: .3s ease;
}

.Profile img {
  width: 150px;
}

.Semester_Class h3, .Rush_Timeline, .Alumni_List {
  padding-top: 3vw;
  padding-bottom: 2vw;
}

@media only screen and (min-width: 700px) {

  .navbar h1 {
    font-size: 30px;
  }

  .navbar h2 {
    font-size: 18px;
  }
  
  .slider_title {
    font-size: 5em;
  }

  .brotherhood, .professionalism, .service {
    position: relative;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .brotherhood_overlay, .professionalism_overlay, .service_overlay {
    opacity: 0;

  }

  .text {
    margin-left: 25px;
  }

  .brotherhood h1, .professionalism h1, .service h1 {
    opacity: 1;
    top: 20px;
    left: 380px;
    inline-size: 40vw;
    overflow-wrap: break-word;
    position: static;
    color: #800000;
    -webkit-text-stroke: 0.5px gold;
    font-size: 30px;
  }

  .brotherhood_description, .professionalism_description, .service_description {
    opacity: 1;
    left: 380px;
    top: 60px;
    inline-size: 40vw;
    overflow-wrap: break-word;
    position: static;
  }

  @keyframes slider {
    0% {
      left: 0%;
    }
    30% {
      left: 0%;
    }
    36% {
      left: -75%;
    }
    63% {
      left: -75%;
    }
    69% {
      left: -150%;
    }
    97% {
      left: -150%;
    }
  }
}

@media only screen and (min-width: 950px) {
  
  .slider_title {
    font-size: 6em;
  }

  .brotherhood, .professionalism, .service {
    position: relative;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .brotherhood_overlay, .professionalism_overlay, .service_overlay {
    opacity: 0;
  }

  .text {
    margin-left: 25px;
  }

  .brotherhood h1, .professionalism h1, .service h1 {
    opacity: 1;
    top: 20px;
    left: 380px;
    inline-size: 40vw;
    overflow-wrap: break-word;
    position: static;
    font-size: 40px;
  }

  .brotherhood_description, .professionalism_description, .service_description {
    opacity: 1;
    left: 380px;
    top: 60px;
    inline-size: 40vw;
    overflow-wrap: break-word;
    position: static;
  }

  @keyframes slider {
    0% {
      left: 0%;
    }
    30% {
      left: 0%;
    }
    36% {
      left: -33.3%;
    }
    63% {
      left: -33.3%;
    }
    69% {
      left: -66.6%;
    }
    97% {
      left: -66.6%;
    }
  }
}